html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
}

// POST CSS STARTS HERE

.admin-posts-image-container {
    height: 120px;
    object-fit:cover;
}

.pag {
    position: absolute;
    bottom: 0;
    height: 125px;
}

.user-tbl {
    width: 100%;
}

.roles {
    margin-top: 50px !important;
}

.roles button {
    width: 155px;
}


@media (max-width: 992px) {
    .admin-posts-image-container {
        height: 200px;
    }

    .admin-card-post-container {
        margin-bottom: 50px;
    }

}