html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  background: #dc4734;
  background: radial-gradient(circle, #dc4734 0%, #551a13 60%, #090001 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc4734",endColorstr="#090001",GradientType=1);
}

.bord {
  border: 1px solid black;
}

#profile-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.p-img-container {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 350px;
}

.active-disable ul li {
  display: inline !important;
}

.footer-content img {
  width: 80px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.footer-content b {
  color: white;
}

@media (max-width: 992px) {
  .p-img-container {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

